/*
  HELPER CLASSES
*/

.cl:after {
  content: "";
  display: table;
  clear: both;
}

/*
		GRID
*/

html, body { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.page-wrapper {
	width: 1366px;
	margin: 0 auto;
	background-color: #f3f3f3; 
}

/*
	FONTS
*/

@font-face {
	font-family: "Roboto-Regular";
	src:url(../fonts/roboto-1.2/Roboto_v1.2/Roboto/Roboto-Regular.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Roboto-Light";
	src:url(../fonts/roboto-1.2/Roboto_v1.2/Roboto/Roboto-Light.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Roboto-Bold";
	src:url(../fonts/roboto-1.2/Roboto_v1.2/Roboto/Roboto-Bold.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Roboto-Black";
	src:url(../fonts/roboto-1.2/Roboto_v1.2/Roboto/Roboto-Black.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}

body {
	font: 16px/28px "Roboto-Regular", Arial, sans-serif;
	color: #fff;
}

/*
	BASE
*/

h1, h2, h3, h4, h5, h6 { 
	margin: 0; 
}

p { 
	margin: 0; 
}

.link {
	color: #fff;
	text-decoration: none;
}

.btn {
	display: inline-block;
	vertical-align: top;
	width: 210px;
	padding-top: 7px;
	padding-bottom: 11px;
	border: 1px solid #fff;
	font: 17px/32px "Roboto-Regular", Arial, sans-serif; 
	color: #fff;
	text-align: center;
	text-decoration: none;
	border-radius: 11px;
	outline: none;
	cursor: pointer;
}

.btn:hover { 
	color: #b2b2b2;
	border-color: #b2b2b2; 
}

.btn_color_dark {
	border: 1px solid #262f32;
	color: #262f32;
}

.btn_color_dark:hover { 
	color: #000;
	border-color: #000; 
}

/* Header */

/* Photo Banner */

.photo-banner {
	float: left;
	width: 66.47%;
	min-height: 715px;
	background: #8b8162 url(../img/bg-header.jpg) no-repeat;
}

/* Intro */

.intro {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: right;
	width: 33.53%;
	min-height: 715px;
	padding-top: 57px;
	padding-bottom: 93px;
	padding-left: 54px;
	padding-right: 83px;
}

.intro__caption { 
	font: 40px/58px "Roboto-Light", Arial, sans-serif; 
	letter-spacing: 1px;
	color: #262f32;
	margin-bottom: 46px; 
}

.intro__caption_font_bold {
	font: 40px/58px "Roboto-Bold", Arial, sans-serif; 
}

.intro__caption_font_regular {
	font: 40px/58px "Roboto-Regular", Arial, sans-serif;
}

.intro p {
	font: 18px/28px "Roboto-Regular", Arial, sans-serif;
	color: #262f32;
}

.intro p:not(:last-child) { 
	margin-bottom: 28px; 
}

/* Menu */

.menu { 
	position: relative; 
	margin-bottom: 62px;
}

/* Menu Toggle */

.menu__toggle {
	position: relative;
	display: block;
	width: 33px;
	height: 29px;
	font-size: 0;
}

.menu__toggle-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: block;
	width: 33px;
	height: 3px;
	background-color: #3a4245;
	transition: background .2s .1s;
}

.menu__toggle-icon:before,
.menu__toggle-icon:after {
	content: "";
	position: absolute;
	width: 33px;
	height: 3px;
	background-color: #3a4245;
	-webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: -webkit-transform .2s, top .2s;
  transition: transform .2s, top .2s;
}

.menu__toggle-icon:before { 
	top: -13px; 
}

.menu__toggle-icon:after { 
	top: 13px; 
}

/* Menu Inner */

.menu__inner {
	position: absolute;
	left: 33px;
	display: none;
	width: 280px;
	padding: 10px;
	background-color: #51a4b5;
	font-size: 20px;
}

.menu__inner_state_show  { 
	display: block; 
}

body.menu-opened .menu__toggle-icon {
	background: 0 0;
  transition: background .2s;
}

body.menu-opened .menu__toggle-icon:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: transform, .2s;
}

body.menu-opened .menu__toggle-icon:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: transform, .2s;
}

.nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav__item {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
}

.nav__item:first-child { 
	border-top: 1px solid #fff; 
}

.nav__link:hover { 
	color: #3f3f3f; 
}

.nav__link:active { 
	color: #ccc; 
}

/* Main */

/* Services */

.services {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 45%;
	min-height: 853px;
	padding-top: 57px;
	padding-bottom: 61px;
	padding-left: 60px;
	padding-right: 103px;
	background: #51a4b5 url(../img/bg-left-section.jpg) no-repeat;
}

.services__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.services__item:not(:last-child) { 
	margin-bottom: 66px; 
}

.services__caption {
	margin-bottom: 23px;
	font: 45px/66px "Roboto-Light", Arial, sans-serif; 
	letter-spacing: 1px;
	color: #fff;
}

.services__caption_font_bold {
	font: 45px/66px "Roboto-Black", Arial, sans-serif;
}

.services p {
	font: 16px/28px "Roboto-Regular", Arial, sans-serif;
	color: #fff;
}

/* Info Section */

.section-info {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: right;
	width: 55%;
	padding-top: 56px;
	padding-bottom: 69px;
	padding-left: 54px;
	padding-right: 162px;
}

.section__caption {
	margin-bottom: 23px;
	font: 45px/66px "Roboto-Light", Arial, sans-serif; 
	letter-spacing: 1px;
	color: #fff;
}

.section__caption_font_bold {
	font: 45px/66px "Roboto-Black", Arial, sans-serif;
}

.section__caption_color_dark {
	color: #262f32;
}

.section-info p {
	margin-bottom: 48px; 
	font: 16px/28px "Roboto-Regular", Arial, sans-serif;
	color: #fff;
}

/* Starting */

.starting { 
	min-height: 427px;
	background: #fcefce url(../img/bg-right-section1.jpg) no-repeat; 
}

.starting p {
	color: #262f32;
}

/* Dummy */

.dummy { 
	min-height: 426px;
	background: #4e5a64 url(../img/bg-right-section2.jpg) no-repeat; 
}

/* Footer */

/* About */

.about {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 33.53%;
	min-height: 715px;
	padding-top: 60px;
	padding-bottom: 66px;
	padding-left: 59px;
	padding-right: 50px;
	background: #294e5f url(../img/bg-footer1.jpg) no-repeat;
}

.block-shift-left {
	position: relative;
	left: -11px;
}

.about__text {
	font: 45px/66px "Roboto-Light", Arial, sans-serif; 
	letter-spacing: 1px;
	color: #fff;
}

.about__text_font_bold {
	font: 45px/66px "Roboto-Black", Arial, sans-serif;
}

.logo {
	width: 90px;
	height: 90px;
	margin-top: 251px;
	margin-bottom: 9px;
}

.about__text_size_small { 
	font: 42px/66px "Roboto-Black", Arial, sans-serif; 
	letter-spacing: 1px;
}

.about__text_size_medium { 
	font: 17px/32px "Roboto-Regular", Arial, sans-serif; 
}

/* Feedback */

.feedback {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: right;
	width: 66.47%;
	min-height: 715px;
	padding-top: 60px;
	padding-bottom: 66px;
	padding-left: 53px;
	padding-right: 230px;
	background: #576a72 url(../img/bg-footer2.jpg) no-repeat;
}

.feedback__text {
	font: 45px/66px "Roboto-Light", Arial, sans-serif; 
	letter-spacing: 1px;
	color: #fff;
}

.feedback__text_font_bold {
	font: 45px/66px "Roboto-Black", Arial, sans-serif;
}

.block-shift-right {
	position: relative;
	left: 3px;
}

.feedback__text_size_medium {
	font: 17px/32px "Roboto-Regular", Arial, sans-serif; 
}

/* Form */

.form { 
	margin-top: 42px; 
}

.form__input,
.form__textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  font: 17px "Roboto-Regular", Arial, sans-serif;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 12px;
  background-color: transparent;
}

.form__input::-moz-placeholder,
.form__textarea::-moz-placeholder {
  color: #fff;
  -ms-filter: none;
  filter: none;
}

.form__input:-moz-placeholder,
.form__textarea:-moz-placeholder {
  color: #fff;
  -ms-filter: none;
  filter: none;
}

.form__input:-ms-input-placeholder,
.form__textarea:-ms-input-placeholder { 
	color: #fff; 
}

.form__input::-webkit-input-placeholder,
.form__textarea:-webkit-input-placeholder { 
	color: #fff; 
}

.form__input:hover,
.form__textarea:hover { 
	border-color: #b2b2b2; 
}

.form__input:focus,
.form__textarea:focus {
  outline: 0;
  border-color: #51a4b5;
}

.form__input {
  display: inline-block;
	vertical-align: middle;
	width: 304px;
	padding-top: 17px;
	padding-bottom: 18px;
	padding-left: 27px;
	padding-right: 27px;
	margin-bottom: 13px;
}

.form__input:nth-of-type(odd) { 
	margin-right: 7px; 
}

.form__textarea {
	display: block;
  width: 619px;
  height: 161px;
  padding: 18px 27px;
  resize: none;
}

.form__btn {
	display: block;
	margin: 0 auto;
	margin-top: 11px;
	margin-bottom: 23px;
	background-color: transparent;
}

/* Social icons */

.social-btn {
	display: inline-block;
	vertical-align: top;
	width: 45px;
	height: 45px;
	margin-top: 16px;
	margin-bottom: 41px;
	margin-right: 1px;
	margin-left: 2px;
	font-size: 0;
	text-decoration: none;
	background: #000 url(../img/sprite-icon-set.png) no-repeat;
	border-radius: 5px;
}

.social-btn:first-of-type { 
	margin-left: 0; 
}

.social-btn_net_facebook { 
	background-color: #345bb4;
	background-position: -38px 0;
}

.social-btn_net_dribbble { 
	background-color: #e64895;
	background-position: 1px 0; 
}

.social-btn_net_twitter { 
	background-color: #00b4ff;
	background-position: -76px 3px; 
}

.social-btn_net_facebook:hover { 
	background-color: #20418a; 
}

.social-btn_net_dribbble:hover { 
	background-color: #cd337e; 
}

.social-btn_net_twitter:hover { 
	background-color: #098ac0; 
}

.social-btn_net_facebook:active { 
	background-color: #123074; 
}

.social-btn_net_dribbble:active { 
	background-color: #a9155d; 
}

.social-btn_net_twitter:active { 
	background-color: #066e9a; 
}