/*
  HELPER CLASSES
*/

.cl:after {
  content: "";
  display: table;
  clear: both;
}

.text-hide {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*
		GRID
*/

html, body { 
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.page-wrapper {
	width: 1366px;
	margin: 0 auto;
	background-color: #f3f3f3; 
}

/*
	FONTS
*/

@font-face {
	font-family: "Roboto-Regular";
	src:url(../fonts/roboto-1.2/Roboto_v1.2/Roboto/Roboto-Regular.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Roboto-Light";
	src:url(../fonts/roboto-1.2/Roboto_v1.2/Roboto/Roboto-Light.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Roboto-Bold";
	src:url(../fonts/roboto-1.2/Roboto_v1.2/Roboto/Roboto-Bold.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Roboto-Black";
	src:url(../fonts/roboto-1.2/Roboto_v1.2/Roboto/Roboto-Black.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}

body {
	font: 16px/28px "Roboto-Regular", Arial, sans-serif;
	color: #fff;
}

.text_font_light { 
	font: 45px/66px "Roboto-Light", Arial, sans-serif; 
	letter-spacing: 1px;
}

.text_font_light-small { 
	font: 40px/58px "Roboto-Light", Arial, sans-serif; 
	letter-spacing: 1px;
}

.text_font_regular { font: 45px/66px "Roboto-Regular", Arial, sans-serif; }

.text_font_regular-small { font: 40px/58px "Roboto-Regular", Arial, sans-serif; }

.text_font_bold { font: 45px/66px "Roboto-Bold", Arial, sans-serif; }

.text_font_bold-small { 
	font: 40px/58px "Roboto-Bold", Arial, sans-serif; 
	letter-spacing: 1px;
}

.text_font_black { 
	font: 45px/66px "Roboto-Black", Arial, sans-serif; 
	letter-spacing: 1px;
}

.text_font_black-small { 
	font: 42px/66px "Roboto-Black", Arial, sans-serif; 
	letter-spacing: 1px;
}

.text_size_medium { font: 17px/32px "Roboto-Regular", Arial, sans-serif; }

.text_size_large { font: 18px/28px "Roboto-Regular", Arial, sans-serif; }

.text_color_dark { color: #262f32; }

/*
	BASE
*/

h1, h2, h3, h4, h5, h6 { margin: 0; }

p { margin: 0; }

a {
	color: #fff;
	text-decoration: none;
}

.btn {
	display: inline-block;
	vertical-align: top;
	width: 210px;
	padding-top: 7px;
	padding-bottom: 11px;
	border: 1px solid #fff;
	font: 17px/32px "Roboto-Regular", Arial, sans-serif; 
	color: #fff;
	text-align: center;
	text-decoration: none;
	border-radius: 11px;
	outline: none;
	cursor: pointer;
}

.btn:hover { 
	color: #b2b2b2;
	border-color: #b2b2b2; 
}

.btn_color_dark {
	border: 1px solid #262f32;
	color: #262f32;
}

.btn_color_dark:hover { 
	color: #000;
	border-color: #000; 
}

/* Header */

.photo-banner {
	float: left;
	width: 66.47%;
	min-height: 715px;
	background: #8b8162 url(../img/bg-header.jpg) no-repeat;
}

.intro {
	box-sizing: border-box;
	float: right;
	width: 33.53%;
	min-height: 715px;
	padding-top: 57px;
	padding-bottom: 93px;
	padding-left: 54px;
	padding-right: 83px;
}

/* Menu */

.menu { 
	position: relative; 
	margin-bottom: 62px;
}

/* Menu Toggle */

.menu__toggle {
	position: relative;
	display: block;
	width: 33px;
	height: 29px;
	font-size: 0;
}

.menu__toggle-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: block;
	width: 33px;
	height: 3px;
	background-color: #3a4245;
	transition: background .2s .1s;
}

.menu__toggle-icon:before,
.menu__toggle-icon:after {
	content: "";
	position: absolute;
	width: 33px;
	height: 3px;
	background-color: #3a4245;
	-webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: -webkit-transform .2s, top .2s;
  transition: transform .2s, top .2s;
}

.menu__toggle-icon:before { top: -13px; }

.menu__toggle-icon:after { top: 13px; }

/* Menu Inner */

.menu__inner {
	position: absolute;
	left: 33px;
	display: none;
	width: 280px;
	padding: 10px;
	background-color: #51a4b5;
	font-size: 20px;
}

.menu__inner_state_show  { 
	display: block; 
}

body.menu-opened .menu__toggle-icon {
	background: 0 0;
  transition: background .2s;
}

body.menu-opened .menu__toggle-icon:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: transform, .2s;
}

body.menu-opened .menu__toggle-icon:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: transform, .2s;
}

.nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav__item {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
}

.nav__item:first-child { border-top: 1px solid #fff; }

.nav__link:hover { color: #3f3f3f; }

.nav__link:active { color: #ccc; }

.title_loc_header { margin-bottom: 46px; }

.text_loc_header:not(:last-child) { margin-bottom: 28px; }

/* Main */

.title_loc_main { margin-bottom: 23px; }

.text_loc_main { margin-bottom: 48px; }

.services {
	box-sizing: border-box;
	float: left;
	width: 45%;
	min-height: 853px;
	padding-top: 57px;
	padding-bottom: 61px;
	padding-left: 60px;
	padding-right: 103px;
	background: #51a4b5 url(../img/bg-left-section.jpg) no-repeat;
}

.section-info {
	box-sizing: border-box;
	float: right;
	width: 55%;
	padding-top: 56px;
	padding-bottom: 69px;
	padding-left: 54px;
	padding-right: 162px;
}

.starting { 
	min-height: 427px;
	background: #fcefce url(../img/bg-right-section1.jpg) no-repeat; 
}

.dummy { 
	min-height: 426px;
	background: #4e5a64 url(../img/bg-right-section2.jpg) no-repeat; 
}

.services__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.services__item:not(:last-child) { margin-bottom: 66px; }

/* Footer */

.about {
	box-sizing: border-box;
	float: left;
	width: 33.53%;
	min-height: 715px;
	padding-top: 60px;
	padding-bottom: 66px;
	padding-left: 59px;
	padding-right: 50px;
	background: #294e5f url(../img/bg-footer1.jpg) no-repeat;
}

.feedback {
	box-sizing: border-box;
	float: right;
	width: 66.47%;
	min-height: 715px;
	padding-top: 60px;
	padding-bottom: 66px;
	padding-left: 53px;
	padding-right: 230px;
	background: #576a72 url(../img/bg-footer2.jpg) no-repeat;
}

.block_shift_left {
	position: relative;
	left: -11px;
}

.block_shift_right {
	position: relative;
	left: 3px;
}

.logo {
	width: 90px;
	height: 90px;
	margin-top: 251px;
	margin-bottom: 9px;
}

/* Form */

.form-message { margin-top: 42px; }

input,textarea {
	box-sizing: border-box;
  font: 17px "Roboto-Regular", Arial, sans-serif;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 12px;
  background-color: transparent;
}

input::-moz-placeholder,textarea::-moz-placeholder {
  color: #fff;
  -ms-filter: none;
  filter: none;
}

input:-moz-placeholder,textarea:-moz-placeholder {
  color: #fff;
  -ms-filter: none;
  filter: none;
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder { color: #fff; }

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder { color: #fff; }

input:hover,textarea:hover { border-color: #b2b2b2; }

input:focus,textarea:focus {
  outline: 0;
  border-color: #51a4b5;
}

input {
  display: inline-block;
	vertical-align: middle;
	width: 304px;
	padding-top: 17px;
	padding-bottom: 18px;
	padding-left: 27px;
	padding-right: 27px;
	margin-bottom: 13px;
}

input:nth-of-type(odd) { margin-right: 7px; }

textarea {
	display: block;
  width: 619px;
  height: 161px;
  padding: 18px 27px;
  resize: none;
}

.form-message__btn {
	display: block;
	margin: 0 auto;
	margin-top: 11px;
	margin-bottom: 23px;
	background-color: transparent;
}

/* Social icons */

.social-btn {
	display: inline-block;
	vertical-align: top;
	width: 45px;
	height: 45px;
	margin-top: 16px;
	margin-bottom: 41px;
	margin-right: 1px;
	margin-left: 2px;
	font-size: 0;
	text-decoration: none;
	background: #000 url(../img/sprite-icon-set.png) no-repeat;
	border-radius: 5px;
}

.social-btn:first-of-type { margin-left: 0; }

.social-btn_facebook { 
	background-color: #345bb4;
	background-position: -38px 0;
}

.social-btn_dribbble { 
	background-color: #e64895;
	background-position: 1px 0; 
}

.social-btn_twitter { 
	background-color: #00b4ff;
	background-position: -76px 3px; 
}

.social-btn_facebook:hover { background-color: #20418a; }

.social-btn_dribbble:hover { background-color: #cd337e; }

.social-btn_twitter:hover { background-color: #098ac0; }

.social-btn_facebook:active { background-color: #123074; }

.social-btn_dribbble:active { background-color: #a9155d; }

.social-btn_twitter:active { background-color: #066e9a; }